<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.878700824066-cpvg09t3lqbasfq5shsm74ugt38s64ke</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>YoungSerif-Regular.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-Italic.ttf</string>
	</array>
</dict>
</plist>
