<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425852888668-t2ob88lc3mlo7u8suktha3koetbuknsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425852888668-t2ob88lc3mlo7u8suktha3koetbuknsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDUmm7cgcpZ2YQyEmRwiXN4pOrcdZU7DFI</string>
	<key>GCM_SENDER_ID</key>
	<string>425852888668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ViRtuAl.QuoteBook</string>
	<key>PROJECT_ID</key>
	<string>qb-creation</string>
	<key>STORAGE_BUCKET</key>
	<string>qb-creation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425852888668:ios:1edf90e19935b0d6d92899</string>
</dict>
</plist>