<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878700824066-mkrvlqa7mta36bpbkp3th3r9phos4qrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878700824066-mkrvlqa7mta36bpbkp3th3r9phos4qrh</string>
	<key>API_KEY</key>
	<string>AIzaSyCTq35Z_cAAc3WH6zYJjrjZ0vpLToim0f0</string>
	<key>GCM_SENDER_ID</key>
	<string>878700824066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.discoverPage</string>
	<key>PROJECT_ID</key>
	<string>quotebookapp-f09eb</string>
	<key>STORAGE_BUCKET</key>
	<string>quotebookapp-f09eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878700824066:ios:04bb659b0dad3a8ed6c91b</string>
</dict>
</plist>